.Projects{
    margin-top: 166px;
    z-index: 3;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 96px;
    @media(max-width: 1010px){
        row-gap: 48px;
        justify-content: center;
    }
}