.Percent{
    width: 160px;
    height: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;

    &_top{
        min-width: 100% !important;
        justify-content: space-between !important;
        &_img{
            width: 12px;
            height: 12px;
            &_top_left{
                rotate: 270deg;
            }
        }
    }

    &_content{
        padding: 20px 44px;
        font-family: "StapelMedium";
        color: #0D0D0D;
        font-size: 28px;
        font-weight: 500;
    }

    &_bottom{
        min-width: 100% !important;
        justify-content: space-between !important;
        &_img{
            width: 12px;
            height: 12px;
            &_top_left{
                rotate: 180deg;
            }
            &_top_right{
                rotate: 90deg;
            }
        }
    }
}