.Hero {
    width: 100vw;
    height: 4000px;
    background-color: #FFF;
    z-index: 2;

    &_scroll {
        transition: opacity 500ms;

        &_inner {
            display: flex;
            align-items: center;
            font-size: 28px;
            font-family: "StapelMedium";
            color: #000;
            white-space: nowrap;
            flex-direction: column;
            gap: 20px;
            align-items: center;

            &_mob {
                display: none;

                position: relative;
                top: 12px;
                animation: scrollAnimHint2 2s infinite ease-in-out;

                @keyframes scrollAnimHint2 {
                    0% {
                        transform: translate(0px, 0px);
                    }

                    20% {
                        transform: translate(0px, -20px);
                    }

                    30% {
                        transform: translate(0px, 0px);
                    }

                    50% {
                        transform: translate(0px, -20px);
                    }

                    60% {
                        transform: translate(0px, 0px);
                    }
                }

                @media(max-width: 700px) {
                    display: block;
                }
            }

            &_pc {
                display: block;
                position: relative;
                top: -12px;
                animation: scrollAnimHint 2s infinite ease-in-out;

                @keyframes scrollAnimHint {
                    0% {
                        transform: translate(0px, 0px);
                    }

                    20% {
                        transform: translate(0px, 20px);
                    }

                    30% {
                        transform: translate(0px, 0px);
                    }

                    50% {
                        transform: translate(0px, 20px);
                    }

                    60% {
                        transform: translate(0px, 0px);
                    }
                }

                @media(max-width: 700px) {
                    display: none;
                }
            }

            img {
                width: 80px;
            }
        }
    }



    &_container {
        padding: 12px;
        height: 100vh;
        // flex-wrap: wrap;
        // align-content: space-between;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: space-between;

        // background: #f008;
        @media(max-width: 700px) {
            padding-bottom: 60px;
        }
    }

    &_decorList {
        background: url('/heroDecorList.webp');
    }

    &_mask {
        top: 20px;
        transform: translateZ(1px);
        transition: opacity 500ms;

        &_inner {
            transform: translateZ(1px);
            min-width: 150vh;
            min-height: 90vh;
            background-image: url('/heroDecorList.webp');

            background-size: 600vh 450vh;
            background-position: 0vh 0vh;

            // filter: blur(4px);
            opacity: .1;
            -webkit-mask-image: url("/mask.svg");
            mask-image: url("/mask.svg");

            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;

            -webkit-mask-position: center;
            mask-position: center;

            -webkit-mask-size: contain;
            /* или cover */
            mask-size: contain;

            @media(max-width: 700px) {
                background-size: calc(600vw / 1.3) calc(450vw / 1.3);
                min-width: 110vw;
                min-height: 90vw;
            }

            &_0 {
                background-position: 0vh 0vh;
            }

            &_1 {
                background-position: calc(600vh / 4 * -1) 0px;

            }

            &_2 {
                background-position: calc(600vh / 4 * -2) 0px;
            }

            &_3 {
                background-position: calc(600vh / 4 * -3) 0px;
            }

            &_4 {
                background-position: 0px calc(450vh / 3 * 1);
            }

            &_5 {
                background-position: calc(600vh / 4 * -1) calc(450vh / 3 * 1);
            }

            &_6 {
                background-position: calc(600vh / 4 * -2) calc(450vh / 3 * 1);
            }

            &_7 {
                background-position: calc(600vh / 4 * -3) calc(450vh / 3 * 1);
            }

            &_8 {
                background-position: 0px calc(450vh / 3 * 2);
            }

            &_9 {
                background-position: calc(600vh / 4 * -1) calc(450vh / 3 * 2);
            }

            &_10 {
                background-position: calc(600vh / 4 * -2) calc(450vh / 3 * 2);
            }

            &_11 {
                background-position: calc(600vh / 4 * -3) calc(450vh / 3 * 2);
            }

            @media(max-width: 700px) {
                &_0 {
                    background-position: 0vw /1.3 0vw /1.3;
                }

                &_1 {
                    background-position: calc(600vw /1.3 / 4 * -1) 0px;

                }

                &_2 {
                    background-position: calc(600vw /1.3 / 4 * -2) 0px;
                }

                &_3 {
                    background-position: calc(600vw /1.3 / 4 * -3) 0px;
                }

                &_4 {
                    background-position: 0px calc(450vw /1.3 / 3 * 1);
                }

                &_5 {
                    background-position: calc(600vw /1.3 / 4 * -1) calc(450vw /1.3 / 3 * 1);
                }

                &_6 {
                    background-position: calc(600vw /1.3 / 4 * -2) calc(450vw /1.3 / 3 * 1);
                }

                &_7 {
                    background-position: calc(600vw /1.3 / 4 * -3) calc(450vw /1.3 / 3 * 1);
                }

                &_8 {
                    background-position: 0px calc(450vw /1.3 / 3 * 2);
                }

                &_9 {
                    background-position: calc(600vw /1.3 / 4 * -1) calc(450vw /1.3 / 3 * 2);
                }

                &_10 {
                    background-position: calc(600vw /1.3 / 4 * -2) calc(450vw /1.3 / 3 * 2);
                }

                &_11 {
                    background-position: calc(600vw /1.3 / 4 * -3) calc(450vw /1.3 / 3 * 2);
                }
            }
        }
    }

    &_content {
        display: flex;
        justify-content: center;
        align-items: center;

        &_img {
            transition: opacity 300ms;
            opacity: 0;
            // вместо sass-переменной — CSS custom property (точно работает в media)
            transform: translateZ(1px);
            --size_kef: .95;

            @media (max-width: 700px) {
                --size_kef: 1.2;
            }

            @mixin imgSize($size) {
                img {
                    min-height: calc(#{$size} * var(--size_kef) * 100vh);
                    max-height: calc(#{$size} * var(--size_kef) * 100vh);
                    max-width: calc(#{$size} * var(--size_kef) * 100vw);
                }

                .Hero_decorList {
                    min-height: calc(#{$size} * var(--size_kef) * 100vh);
                    max-height: calc(#{$size} * var(--size_kef) * 100vh);
                    max-width: calc(#{$size} * var(--size_kef) * 100vh);
                    min-width: calc(#{$size} * var(--size_kef) * 100vh);
                    border-radius: 500px;
                    background-size: calc(#{$size} * var(--size_kef) * 100vh * 4);

                    &_0 {
                        background-position: 0px 0px;
                    }

                    &_1 {
                        background-position: calc(#{$size} * var(--size_kef) * 100vh * -1) 0px;

                    }

                    &_2 {
                        background-position: calc(#{$size} * var(--size_kef) * 100vh * -2) 0px;
                    }

                    &_3 {
                        background-position: calc(#{$size} * var(--size_kef) * 100vh * -3) 0px;
                    }

                    &_4 {
                        background-position: 0px calc(#{$size} * var(--size_kef) * 100vh * 1);
                    }

                    &_5 {
                        background-position: calc(#{$size} * var(--size_kef) * 100vh * -1) calc(#{$size} * var(--size_kef) * 100vh * 1);
                    }

                    &_6 {
                        background-position: calc(#{$size} * var(--size_kef) * 100vh * -2) calc(#{$size} * var(--size_kef) * 100vh * 1);
                    }

                    &_7 {
                        background-position: calc(#{$size} * var(--size_kef) * 100vh * -3) calc(#{$size} * var(--size_kef) * 100vh * 1);
                    }

                    &_8 {
                        background-position: 0px calc(#{$size} * var(--size_kef) * 100vh * 2);
                    }

                    &_9 {
                        background-position: calc(#{$size} * var(--size_kef) * 100vh * -1) calc(#{$size} * var(--size_kef) * 100vh * 2);
                    }

                    &_10 {
                        background-position: calc(#{$size} * var(--size_kef) * 100vh * -2) calc(#{$size} * var(--size_kef) * 100vh * 2);
                    }

                    &_11 {
                        background-position: calc(#{$size} * var(--size_kef) * 100vh * -3) calc(#{$size} * var(--size_kef) * 100vh * 2);
                    }


                    @media(max-width: 700px) {
                        min-height: calc(#{$size} * var(--size_kef) * 100vw);
                        max-height: calc(#{$size} * var(--size_kef) * 100vw);
                        max-width: calc(#{$size} * var(--size_kef) * 100vw);
                        min-width: calc(#{$size} * var(--size_kef) * 100vw);
                        background-size: calc(#{$size} * var(--size_kef) * 100vw * 4);
                    }

                }

                @media(max-width: 700px) {

                    .Hero_decorList {
                        min-height: calc(#{$size} * var(--size_kef) * 100vw);
                        max-height: calc(#{$size} * var(--size_kef) * 100vw);
                        max-width: calc(#{$size} * var(--size_kef) * 100vw);
                        min-width: calc(#{$size} * var(--size_kef) * 100vw);
                        border-radius: 500px;
                        background-size: calc(#{$size} * var(--size_kef) * 100vw * 4);

                        &_0 {
                            background-position: 0px 0px;
                        }

                        &_1 {
                            background-position: calc(#{$size} * var(--size_kef) * 100vw * -1) 0px;

                        }

                        &_2 {
                            background-position: calc(#{$size} * var(--size_kef) * 100vw * -2) 0px;
                        }

                        &_3 {
                            background-position: calc(#{$size} * var(--size_kef) * 100vw * -3) 0px;
                        }

                        &_4 {
                            background-position: 0px calc(#{$size} * var(--size_kef) * 100vw * 1);
                        }

                        &_5 {
                            background-position: calc(#{$size} * var(--size_kef) * 100vw * -1) calc(#{$size} * var(--size_kef) * 100vw * 1);
                        }

                        &_6 {
                            background-position: calc(#{$size} * var(--size_kef) * 100vw * -2) calc(#{$size} * var(--size_kef) * 100vw * 1);
                        }

                        &_7 {
                            background-position: calc(#{$size} * var(--size_kef) * 100vw * -3) calc(#{$size} * var(--size_kef) * 100vw * 1);
                        }

                        &_8 {
                            background-position: 0px calc(#{$size} * var(--size_kef) * 100vw * 2);
                        }

                        &_9 {
                            background-position: calc(#{$size} * var(--size_kef) * 100vw * -1) calc(#{$size} * var(--size_kef) * 100vw * 2);
                        }

                        &_10 {
                            background-position: calc(#{$size} * var(--size_kef) * 100vw * -2) calc(#{$size} * var(--size_kef) * 100vw * 2);
                        }

                        &_11 {
                            background-position: calc(#{$size} * var(--size_kef) * 100vw * -3) calc(#{$size} * var(--size_kef) * 100vw * 2);
                        }


                        @media(max-width: 700px) {
                            min-height: calc(#{$size} * var(--size_kef) * 100vw);
                            max-height: calc(#{$size} * var(--size_kef) * 100vw);
                            max-width: calc(#{$size} * var(--size_kef) * 100vw);
                            min-width: calc(#{$size} * var(--size_kef) * 100vw);
                            background-size: calc(#{$size} * var(--size_kef) * 100vw * 4);
                        }

                    }
                }
            }

            &_6 {
                @include imgSize(.2);
                opacity: 1;
            }

            &_5 {
                @include imgSize(.8);
                animation: rotanim 10s infinite alternate;

            }

            &_4 {
                @include imgSize(.84);
                animation: rotanimr 15s infinite alternate;
            }

            &_3 {
                @include imgSize(.5);
                animation: rotanim 13s infinite alternate;
            }

            &_2 {
                @include imgSize(.36);
                animation: rotanimr 19s infinite alternate;
            }

            &_1 {
                @include imgSize(.28);
                animation: rotanim 17s infinite alternate;
            }
        }
    }

    @keyframes rotanim {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(30deg);
        }
    }

    @keyframes rotanimr {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(-30deg);
        }
    }

    &_down {
        width: 100%;
        justify-content: center !important;
        gap: 20px;


        &_contact {
            justify-content: end !important;
        }
    }
}