.Hero{
    width: 100dvw;
    height: 100vh;
    background-color: #FFF;
    z-index: 2;
    padding-bottom: 22px;
    &_container{
        padding: 24px;
        height: 100%;
        flex-wrap: wrap;
        align-content: space-between;
    }



    &_down{
        width: 100%;
        justify-content: space-between !important;
        gap: 20px;
        &_contact, &_inner, &_percent{
            width: calc(33% - 20px);
        }
        &_contact{
            justify-content: end !important; 
        }
    }
}