.AboutUs {
    flex-wrap: wrap;
    gap: 48px;
    margin-top: 58px;
    z-index: 2;

    &_content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 24px;

        @media(max-width: 800px) {
            flex-wrap: wrap;
        }

        &_left {
            width: calc(50% - 24px);
            justify-content: start !important;
            flex-wrap: wrap;
            align-content: start;
            gap: 24px;

            @media(max-width: 1000px) {
                gap: 12px;
            }

            @media(max-width: 800px) {
                width: 100%;
                height: 250px;
            }

            &_title,
            &_blue {
                width: 100%;
                font-size: 28px;
                font-weight: 400;
                font-family: "StapelSemiExpandedMedium";
                text-transform: uppercase;

                @media(max-width: 1000px) {
                    font-size: 20px;
                }

                @media(max-width: 430px) {
                    text-align: center;
                }
            }

            &_blue {
                color: #6CFBEF;
            }

            &_description_top,
            &_description_bottom {
                margin-top: 24px;
                font-size: 20px;
                font-weight: 500;
                font-family: "Inter";

                @media(max-width: 1000px) {
                    margin-top: 12px;
                    font-size: 16px;
                }

                @media(max-width: 430px) {
                    text-align: center;
                }
            }

            &_description_bottom {
                margin-top: 0px;
            }
        }

        &_right {
            width: 50%;
            display: flex;
            justify-content: end;
            align-items: stretch;
            gap: 24px;

            @media(max-width: 800px) {
                width: 100%;
            }

            @media(max-width: 500px) {
                flex-wrap: wrap;
            }
        }

        &_el {
            width: calc(50% - 24px);
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-wrap: wrap;
            align-content: space-between;
            background-color: #0D0D0D;

            @media(max-width: 500px) {
                width: 100%;
            }

            img {
                width: 80%;
            }

            &_top,
            &_bottom {
                min-width: 100% !important;
                justify-content: space-between !important;
                z-index: 9999;

                &_corner {
                    width: 15px;
                    height: 15px;
                    stroke: #6CFBEF;
                }
            }

            &_top {
                align-items: start !important;

                &_corner {
                    &_left {
                        rotate: 270deg;
                    }
                }
            }

            &_bottom {
                align-items: end !important;

                &_corner {
                    &_left {
                        rotate: 180deg;
                    }

                    &_right {
                        rotate: 90deg;
                    }
                }
            }
        }
    }
}