.Project {
    width: calc(100%/3 - 16px);
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 24px;

    @media(max-width: 1010px) {
        width: calc(50% - 12px);
    }

    @media(max-width: 600px) {
        width: calc(100%);
    }

    &_header {
        width: 100%;
        justify-content: start !important;
        gap: 24px;

        @media(max-width: 600px) {
            flex-wrap: wrap;
        }
    }

    &_content {
        width: 100%;

        img {
            width: 100%;
        }
    }

    &_title {
        width: 100%;
        font-family: "StapelSemiExpandedMedium";
        color: #6CFBEF;
        font-size: 28px;

        &_small {
            font-size: 20px !important;

            @media(max-width: 600px) {
                font-size: 14px;
            }
        }

        @media(max-width: 600px) {
            font-size: 16px;
        }
    }

    &_description {
        width: 100%;
        font-family: "Inter";
        font-weight: 500;
        color: #E4EDF2;
        font-size: 18px;
    }


    &_big {
        width: calc(50% - 12px);

        @media(max-width: 1010px) {
            width: calc(100%);
        }
    }
}