.Logo {
    width: 50px;

    // transform: translateZ(0) scale(1);
    // shape-rendering: geometricPrecision;
    // image-rendering: crisp-edges;

    // image-rendering: -webkit-optimize-contrast;
    /* не 0.99 / 1.01 */
}