.Customers {
    margin-top: 120px;
    z-index: 3;
    flex-wrap: wrap;

    &_header {
        width: 100%;
        justify-content: space-between !important;
    }

    &_decor {
        min-width: 100% !important;
        justify-content: end !important;
        align-items: start !important;
        margin-top: 48px;
        z-index: 1;
    }

    &_slider {
        width: 100%;
        overflow: hidden;

        &_track {
            display: flex;
            gap: 24px;
            transition: transform 0.4s ease;
            will-change: transform;
        }

        &_el {
            width: 178px;
            flex-shrink: 0;

            img {
                width: 100%;
                height: 178px;
            }
            &_text{
                margin-top: 24px;
                text-transform: uppercase;
                font-family: "Inter";
                font-weight: 600;
                text-align: center;
            }
        }
    }
}
