.Header {
    background: transparent;
    z-index: 99999;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: linear-gradient(to bottom, #000, #0000);
    opacity: 0;
    transition: opacity 500ms;
    pointer-events: none;


    &_show {
        opacity: 1;
    }

    &_container {
        padding-top: 24px !important;
        padding-bottom: 24px !important;
        justify-content: space-between !important;
        gap: 20px;
        pointer-events: none;
    }


    &_logo {
        width: 10%;
        pointer-events: all;
        @media(max-width: 1000px) {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &_open {
        @media(max-width: 1000px) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            position: relative;
            gap: 10px;
            flex-direction: column;
            pointer-events: all;

            &_bottom,
            &_top {
                background-color: #FFF;
                width: 100%;
                height: 2px;
                // position: absolute;
            }
        }
    }

    &_content {
        width: 90%;
        justify-content: space-between !important;
        gap: 20px;

        @media(max-width: 1000px) {
            display: none !important;
        }

        &_nav {
            width: 90%;
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 24px;

            &_el {
                color: #FFF;
                opacity: .64;
                font-family: "StapelSemiExpandedMedium";
                font-weight: 500;
                font-size: 16px;
                text-transform: uppercase;
                transition: opacity 300ms;
                pointer-events: all;

                &:hover {
                    opacity: 1;
                }
            }
        }

        &_switch {
            width: 10%;
            display: flex;
            justify-content: end;
            align-items: center;
            pointer-events: all;
        }
    }



    &_modal {
        width: 100dvw;
        height: 100dvh;
        inset: 0px;
        background-color: #111111;
        position: fixed;
        transform: translateY(-100vh);
        transition: transform 300ms, opacity 300ms;
        opacity: 0;
        z-index: -1;
        pointer-events: all;

        @media(min-width: 1000px) {
            display: none !important;
        }

        &_active {
            transform: translateY(0);
            opacity: 1;
            z-index: 9999999999;
        }

        &_content {
            width: 100%;
            flex-direction: column;
            gap: 24px;
            pointer-events: all;
        }
    }
}