.Contact{
    width: fit-content;
    gap: 26px;
    justify-content: end;
    padding: 24px;
    @media(max-width: 1000px){
        gap: 13px;
    }
    &_btn{
        color: #000;
        font-family: "StapelMedium";
        font-weight: 500;
        font-size: 28px;
        cursor: pointer;
        @media(max-width: 1000px){
            font-size: 14px;
        }

        &_invert{
            color: #FFF !important;
        }
    }
    &_btns{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        @media(max-width: 1000px){
            gap: 8px;
        }
        &_el{
            width: 32px;
            height: 32px;
            @media(max-width: 1000px){
                width: 16px;
                height: 16px;
            }
            &_invert{
                filter: invert(1);
            }
        }
    }


    &_invert{
        background-color: rgba($color: #F5F5F5, $alpha: .04);
        backdrop-filter: blur(5px);
    }
}