@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter.ttf");
}
@font-face {
  font-family: "StapelBold";
  src: url("/fonts/Stapel-Bold.ttf");
}
@font-face {
  font-family: "StapelMedium";
  src: url("/fonts/Stapel-Medium.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "StapelSemiExpandedMedium";
  src: url("/fonts/Stapel-SemiExpandedMedium.ttf");
}