.Background {
    position: fixed;
    inset: 0;
    overflow: hidden;
    z-index: 1;

    img {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 110%;
        height: 110%;
        object-fit: cover;
        opacity: .2;

        transform: translate(-50%, -50%);
        animation: moveBg 30s linear infinite;
        will-change: transform;
    }
}

@keyframes moveBg {
    0% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-47%, -47%);
    }
    100%{
        transform: translate(-50%, -50%);
    }
}
